.container {}

.coverContainer {
  position: relative;
  width: 100%;
  height: 220px;
  background-color: #222;
}

.innerWidth {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-inline: auto;
}

.absolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.coverContainer>img:first-of-type {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -170px;
}

/* .avatarContainer {
  background-color: magenta;
} */

.avatarContainer {
  position: absolute;
  top: 100%;
  left: 40px;
  transform: translateY(-50%);

  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.avatarContainer > img {
  border: 4px solid #18181B;
  border-radius: 999px;
  min-width: fit-content;
  width: 180px;
  height: 180px;
  background-color: #333;
}

.title {
  font-size: 3rem;
  font-weight: 600;
}

.body {
  margin-top: 7rem;
  /* background-color: crimson; */
}