@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root,
input {
  font-family: Inter;
}

body {
  overflow-y: auto;
}

input {
  padding: 0.5rem;
  color: black;
}

input:focus {
  outline-color: #000;
  outline-offset: -2px;
  outline-style: double;
  box-shadow: 0 0 0 1px #000;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}